@model TrashCollection.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
    </dl>
</div>
<div class="form-group">
    <label asp-for="CollectionDay" class="control-label"></label>
    <input asp-for="CollectionDay" class="form-control" style="width: 175px" />
    <span asp-validation-for="CollectionDay" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="button" value="View Customers" onclick="location.href='@Url.Action("SelectDate", "Employee")'" />
</div>
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="IdentityUserId" />
<input type="hidden" asp-for="AddressId" />
<input type="hidden" asp-for="FirstName" />
<input type="hidden" asp-for="LastName" />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}