@model IEnumerable<TrashCollection.Models.Customer>

@{
    ViewData["Title"] = "FindWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>WORK FOR @ViewBag.DateSelected</h3>

<p>
    <a asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" asp-action="Edit">SELECT DIFFERENT DATE HERE</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Address.Zip)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CollectionDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longtitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerConfirmPickUp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address.Zip)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPickUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendServiceStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendServiceEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longtitude)
                </td>
                <td>
                    @if (DateTime.Now.Date == ViewBag.Date)
                    {
                        <a asp-controller="Employee" asp-route-id="@item.Id" asp-action="ConfirmPickUp">CONFIRM PICK UP</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="map"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    #map {
        height: 750px;
        width: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_uKNqBSb29DBstYv3ZF9wzzViywcpS0&callback=initMap">
</script>
<script>
    var geocoder;
    function initMap() {
        geocoder = new google.maps.Geocoder();
        var location = { lat: 42.967540, lng: -87.991720 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: location
        });
        @foreach (var customer in Model)
            {
                <text>
                var marker = new google.maps.Marker({
                    position: { lat: @Html.DisplayFor(modelItem => customer.Latitude), lng: @Html.DisplayFor(modelItem => customer.Longtitude) },
                    map: map,
                    });
                 </text>
        }
    }
</script>
