@model IEnumerable<TrashCollection.Models.Customer>

@{
    ViewData["Title"] = "FindWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>WORK FOR SELECTED DATE</h3>


<p>
    <a asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" asp-action="Edit">SELECT DIFFERENT DATE HERE</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Address.Zip)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CollectionDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerConfirmPickUp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address.Zip)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPickUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendServiceStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendServiceEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    <a asp-controller="Employee" asp-route-id="@item.Id" asp-action="ConfirmPickUp">CONFIRM PICK UP</a>
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}