@model TrashCollection.Models.ManageService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ManageService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendServiceStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspendServiceStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendServiceEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspendServiceEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerConfirmPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerConfirmPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeConfirmPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeConfirmPickUp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
