@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Details</h1>

    <hr />
<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.CityState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.CityState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPickUp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtraPickUp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendServiceStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SuspendServiceStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendServiceEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SuspendServiceEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Personal Information</a> |
    <a asp-action="ManageServices" asp-route-id="@Model.Id">Manage Services</a>
</div>
